@model StoreManager.Views.Stock.CreateStockModel

<div class="form-group">
    @Html.LabelFor(f => f.Quantity)
    <div>
        @Html.EditorFor(f => f.Quantity)
        @Html.ValidationMessageFor(f => f.Quantity)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(f => f.StockConditionId)
    <div>
        @Html.DropDownList("StockConditionId", String.Empty)
        @Html.ValidationMessageFor(f => f.StockConditionId)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(f => f.PurchaseDate)
    <div>
        @Html.EditorFor(f => f.PurchaseDate)
        @Html.ValidationMessageFor(f => f.PurchaseDate)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(f => f.BatchPrice)
    <div>
        @Html.EditorFor(f => f.BatchPrice)
        @Html.ValidationMessageFor(f => f.BatchPrice)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(f => f.UnitPrice)
    <div>
        @Html.EditorFor(f => f.UnitPrice)
        @Html.ValidationMessageFor(f => f.UnitPrice)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(f => f.ExpiryDate)
    <div>
        @Html.EditorFor(f => f.ExpiryDate)
        @Html.ValidationMessageFor(f => f.ExpiryDate)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(f => f.Notes)
    <div>
        @Html.TextAreaFor(f => f.Notes)
        @Html.ValidationMessageFor(f => f.Notes)
    </div>
</div>
