@using StoreManager.Models
@model Stock

@{
    ViewBag.Title = "Stock Details";
}

@helper RenderItemMovementsTable() {
    <table class="table table-condensed table-hover">
        <tr>
            <th>Item</th>
            <th>Date Created</th>
            <th>From Location</th>
            <th>Location</th>
            <th>@Html.DisplayNameFor(f => f.Notes)</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Movements.OrderByDescending(x => x.DateCreated)) {
            <tr>
                <td>@Html.DisplayFor(_ => item.Stock.Item.Name)</td>
                <td>@item.DateCreated.FormatDate() <small>@item.DateCreated.FriendlyDate()</small></td>
                <td><a href="@Url.Action("Details", "Locations", new { id = item.FromLocationId })">@Html.DisplayFor(_ => item.FromLocation.Name)</a></td>
                <td><a href="@Url.Action("Details", "Locations", new { id = item.ToLocation })">@Html.DisplayFor(_ => item.ToLocation.Name)</a></td>
                <td>@Html.DisplayFor(_ => item.Notes)</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Movements", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
}

<div class="container">
    <div class="row">
        <h2 class="page-header">@Model.Item.Name <small>Stock Details (Ref # @Model.RefNo)</small></h2>
    </div>

    <div class="row">
        <ul class="nav nav-pills">
            <li><a href="@Url.Action("Index", "Items")">All Items</a></li>
            <li><a href="@Url.Action("Details", "Items", new { id = Model.ItemId })">Item Details</a></li>
            <li><a href="@Url.Action("Create", "Stock", new { id = Model.ItemId })">Add Stock</a></li>
            <li class="active"><a href="@Url.Action("Details", "Items", new { id = Model.Id })">Stock Details</a></li>
            <li><a href="@Url.Action("Move", "Stock", new { id = Model.Id })">Move Item</a></li>
            <li><a href="@Url.Action("Edit", "Stock", new { id = Model.Id })">Edit Stock</a></li>
            <li><a href="@Url.Action("Delete", "Stock", new { id = Model.Id })">Delete Stock</a></li>
        </ul>
    </div>

    <p>&nbsp;</p>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Item & Stock Information</h3>
            </div>

            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.RefNo)</td>
                        <td>@Html.DisplayFor(model => model.RefNo)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.StockConditionId)</td>
                        <td>@Html.DisplayFor(model => model.Condition.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ExpiryDate)</td>
                        <td>@Html.DisplayFor(model => model.ExpiryDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.PurchaseDate)</td>
                        <td>@Html.DisplayFor(model => model.PurchaseDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.BatchPrice)</td>
                        <td>@Html.DisplayFor(model => model.BatchPrice)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.UnitPrice)</td>
                        <td>@Html.DisplayFor(model => model.UnitPrice)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Notes)</td>
                        <td>@Html.DisplayFor(model => model.Notes)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DateAdded)</td>
                        <td>@Html.DisplayFor(model => model.DateAdded)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.LocationId)</td>
                        <td>@Html.DisplayFor(model => model.Location.Name)</td>
                    </tr>
                    @if (!Model.Location.IsStore) {
                        <tr>
                            <td>&nbsp;</td>
                            <td><a href="@Url.Action("ReturnToStore","Movements", new{id = Model.Id})" class="btn btn-default btn-info btn-sm">Return to Store</a> </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="page-header">Item Movements</h3>
    </div>

    <div class="row">
        @if (Model == null || !Model.Movements.Any()) {
            <div class="alert alert-dismissable alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>There are no records to show here. Click here <a href="@Url.Action("Index", "Items")">view all movable items</a></p>
            </div>
        }
        else {
            @RenderItemMovementsTable()
        }
    </div>
</div>
