@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Dialogue Store Manager</title>

    <link href="~/Content/armwrestler_bold_macroman/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/opensans_regular_macroman/stylesheet.css" rel="stylesheet" />

    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/styles")
    @RenderSection("Styles", false)

    @ViewHelpers.Html5Shim()
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/Custom.css" rel="stylesheet" />
</head>

<body>
    @Html.Partial("_NavBar")
    <div id="wrap">

        <div style="padding-top: 60px">
            @RenderBody()
        </div>

        <div id="push"></div>
    </div>

    <footer id="footer">
        <div class="container" style="margin: 0 auto;">
            <div class="row">
                <p class="text-center">&copy; @DateTime.Now.Year Dialogue Girls Computer School</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </footer>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("Scripts", false)

    <script type="text/javascript">

    </script>

    @functions
        {
        public static bool HasFlashContent(TempDataDictionary tempData, string key)
        {
            return tempData[key] != null;
        }
        }

    @{
        if (HasFlashContent(TempData, "ToastWarning"))
        {
        <script type="text/javascript">
            toastr.warning('@TempData["ToastWarning"].ToString()');
        </script>
        }
        if (HasFlashContent(TempData, "ToastSuccess"))
        {
        <script type="text/javascript">
            toastr.success('@TempData["ToastSuccess"].ToString()');
        </script>
        }
        if (HasFlashContent(TempData, "ToastError"))
        {
        <script type="text/javascript">
            toastr.error('@TempData["ToastError"].ToString()');
        </script>
        }
        if (HasFlashContent(TempData, "ToastInfo"))
        {
        <script type="text/javascript">
            toastr.info('@TempData["ToastInfo"].ToString()');
        </script>
        }
    }
</body>
</html>
