@model DialogueStore.Web.Views.Stock.MoveStockModel

@{
    ViewBag.Title = "Move Item";
}

<div class="container">

    <div class="row">
        <h2 class="page-header">Move Item <small>@Model.Stock.Item.Name</small></h2>
    </div>

    <div class="row">
        <ul class="nav nav-pills">
            <li><a href="@Url.Action("Index", "Items")">All Items</a></li>
            <li><a href="@Url.Action("Details", "Items", new { id = Model.Stock.ItemId })">Item Details</a></li>
            <li><a href="@Url.Action("Create", "Stock", new { id = Model.Stock.ItemId })">Add Stock</a></li>
            <li><a href="@Url.Action("Details", "Items", new { id = Model.Stock.Id })">Stock Details</a></li>
            <li class="active"><a href="@Url.Action("Move", "Stock", new { id = Model.Stock.Id })">Move Item</a></li>
            <li><a href="@Url.Action("Edit", "Stock", new { id = Model.Stock.Id })">Edit Stock</a></li>
            <li><a href="@Url.Action("Delete", "Stock", new { id = Model.Stock.Id })">Delete Stock</a></li>
        </ul>
    </div>

    <p>&nbsp;</p>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Movement Particulars</h3>
                </div>

                <div class="panel-body">
                    @using (Html.BeginForm("Move", "Stock", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()                        
                        @Html.HiddenFor(f => f.Stock.Id)
                        @Html.HiddenFor(f => f.StockId)

                        <div class="form-group">
                            @Html.LabelFor(f => f.LocationId)
                            <div>
                                @Html.DropDownList("LocationId", String.Empty)
                                @Html.ValidationMessageFor(f => f.LocationId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(f => f.Notes)
                            <div>
                                @Html.EditorFor(f => f.Notes)
                                @Html.ValidationMessageFor(f => f.Notes)
                            </div>
                        </div>                        
                        <div class="form-group">
                            @Html.LabelFor(f => f.RequisitionDoc)
                            <div>
                                @Html.TextBoxFor(f => f.RequisitionDoc, new { type = "file" })
                                @Html.ValidationMessageFor(f => f.RequisitionDoc)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(f => f.AuthorizationDoc)
                            <div>
                                @Html.TextBoxFor(f => f.AuthorizationDoc, new { type = "file" })
                                @Html.ValidationMessageFor(f => f.AuthorizationDoc)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Move Item" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Item Details <small>@Model.Stock.Item.Name (Ref #: @Model.Stock.RefNo)</small></h3>
                </div>

                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <tr>
                            <td>Item Name</td>
                            <td>@Model.Stock.Item.Name</td>
                        </tr>
                        <tr>
                            <td>Total Quantity</td>
                            <td>@Model.Stock.Item.QuantityinStock</td>
                        </tr>
                        <tr>
                            <td>Expiry Date</td>
                            <td>@Html.DisplayFor(_ => Model.Stock.ExpiryDate)</td>
                        </tr>
                        <tr>
                            <td>Is Expired</td>
                            <td>@Html.DisplayFor(_ => Model.Stock.IsExpired)</td>
                        </tr>
                        <tr>
                            <td>Notes</td>
                            <td>@Html.DisplayFor(_ => Model.Stock.Notes)</td>
                        </tr>
                        <tr>
                            <td>Purchase Date</td>
                            <td>@Html.DisplayFor(_ => Model.Stock.PurchaseDate)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
