@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Dialogue Store Manager</title>

    <link href="~/Content/armwrestler_bold_macroman/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/opensans_regular_macroman/stylesheet.css" rel="stylesheet" />

    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/styles")
    @RenderSection("Styles", false)

    @ViewHelpers.Html5Shim()
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/animate-custom.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <style>
        
        body {
            /*background-image: url('../../Content/wallpaper_3.jpg');
            background-repeat: no-repeat;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;*/
        }
    </style>
</head>

<body>

    <div>
        @RenderBody()
    </div>

    <footer class="text-center" style="margin-top: 65px">
        <small>&copy; @DateTime.Now.Year Dialogue Girls Computer School</small>
    </footer>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("Scripts", false)

    <script type="text/javascript">

    </script>

    @functions
    {
        public static bool HasFlashContent(TempDataDictionary tempData, string key)
        {
            return tempData[key] != null;
        }
    }

    @{
        if (HasFlashContent(TempData, "ToastWarning"))
        {
        <script type="text/javascript">
            toastr.warning('@TempData["ToastWarning"].ToString()');
        </script>
        }
        if (HasFlashContent(TempData, "ToastSuccess"))
        {
        <script type="text/javascript">
            toastr.success('@TempData["ToastSuccess"].ToString()');
        </script>
        }
        if (HasFlashContent(TempData, "ToastError"))
        {
        <script type="text/javascript">
            toastr.error('@TempData["ToastError"].ToString()');
        </script>
        }
        if (HasFlashContent(TempData, "ToastInfo"))
        {
        <script type="text/javascript">
            toastr.info('@TempData["ToastInfo"].ToString()');
        </script>
        }
    }
</body>
</html>
