@model StoreManager.Models.Movement

@{
    ViewBag.Title = "Movement Details";
}

<div class="container">
    <div class="row">
        <h2>Movement Details</h2>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Movement</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(f => f.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(f => f.DateCreated)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(f => f.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(f => f.Location.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(f => f.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(f => f.Notes)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
