@model StoreManager.Models.Movement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(f => f.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(f => f.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(f => f.Item.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(f => f.Item.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(f => f.Location.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(f => f.Location.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(f => f.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(f => f.Notes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
