@model StoreManager.Models.Movement

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movement</legend>

        @Html.HiddenFor(f => f.Id)

        <div class="form-group">
            @Html.LabelFor(f => f.Date)
        </div>
        <div >
            @Html.EditorFor(f => f.Date)
            @Html.ValidationMessageFor(f => f.Date)
        </div>

        <div class="form-group">
            @Html.LabelFor(f => f.ItemId, "Item")
        </div>
        <div >
            @Html.DropDownList("ItemId", String.Empty)
            @Html.ValidationMessageFor(f => f.ItemId)
        </div>

        <div class="form-group">
            @Html.LabelFor(f => f.LocationId, "Location")
        </div>
        <div >
            @Html.DropDownList("LocationId", String.Empty)
            @Html.ValidationMessageFor(f => f.LocationId)
        </div>

        <div class="form-group">
            @Html.LabelFor(f => f.Notes)
        </div>
        <div >
            @Html.EditorFor(f => f.Notes)
            @Html.ValidationMessageFor(f => f.Notes)
        </div>

        <p>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
