@using StoreManager.Models
@model IEnumerable<Movement>

@{
    ViewBag.Title = "Movements";
}

<div class="container">
    <div class="row">
        <h2 class="page-header">Stock Conditions <small>showing @Model.Count() items statuses</small></h2>
    </div>

    <p class="row">
        <a href="@Url.Action("Create")" class="btn btn-success">Create New</a>
    </p>

    <div class="row">
        <table class="table  table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(f => f.DateCreated)
                </th>
                <th>Item
                </th>
                <th>Location
                </th>
                <th>
                    @Html.DisplayNameFor(f => f.Notes)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.OrderByDescending(x => x.DateCreated)) {
                <tr>
                    <td>
                        @item.DateCreated.FormatDate() <small>@item.DateCreated.FriendlyDate()</small>
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Stock.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Location.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
