@model DialogueStore.Models.Movement

@{
    ViewBag.Title = "Movement Details";
}

<div class="container">
    <div class="row">
        <h2 class="page-header">Movement Details</h2>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Movement</h2>
            </div>

            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <tr>
                        <td>@Html.DisplayNameFor(f => f.DateCreated)</td>
                        <td>@Html.DisplayFor(f => f.DateCreated)</td>
                    </tr>
                    <tr>
                        <td>Stock Item</td>
                        <td><a href="@Url.Action("Details", "Stock", new { id = Model.StockId })">@Html.DisplayFor(f => f.Stock.Item.Name)</a></td>
                    </tr>
                    <tr>
                        <td>Source Location</td>
                        <td><a href="@Url.Action("Details", "Movements", new { id = Model.FromLocationId })">@Html.DisplayFor(f => f.FromLocation.Name)</a></td>
                    </tr>
                    <tr>
                        <td>Destination Location</td>
                        <td><a href="@Url.Action("Details", "Movements", new { id = Model.ToLocationId })">@Html.DisplayFor(f => f.ToLocation.Name)</a></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(f => f.Notes)</td>
                        <td>@Html.DisplayFor(f => f.Notes)</td>
                    </tr>
                    <tr>
                        <td>Requistion Note</td>
                        <td>
                            @if (String.IsNullOrEmpty(Model.RequisitionDoc)) {
                                <span class="text-muted">(none)</span>
                            }
                            else {
                                <a href="@Url.Action("DownloadImageFile", new { fileName = Model.RequisitionDoc })">View</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Approval Note</td>
                        <td>
                            @if (String.IsNullOrEmpty(Model.AuthorizationDoc)) {
                                <span class="text-muted">(none)</span>
                            }
                            else {
                                <a href="@Url.Action("DownloadImageFile", new { fileName = Model.AuthorizationDoc })">View</a>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
