@model IEnumerable<StoreManager.Models.User>
@functions
{
    public static string ToYesNo(bool value)
    {
        return value ? "Yes" : "No";
    }
}
@functions
{
    public static string GetRowClass(StoreManager.Models.User user)
    {
        return user.Locked ? "warning" : (!user.Approved ? "info" : string.Empty);
    }

}
<table class="table table-striped  table-hover">
    <thead>
        <tr>
            <th>Full Name (UserName)</th>
            <th>Last Login</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@GetRowClass(item)">
                <td>@item.DisplayName <span class="muted">(@item.UserName)</span></td>
                <td>@HTML.FriendlyDate(item.LastLogin)</td>
                <td>
                    <div class="pull-right" style="margin-right: 10px">
                        @if (!item.Approved)
                        {
                            <a href="@Url.Action("Approve", new { id = item.UserId })">Approve <i class="icon-check"></i></a>
                            <text>&nbsp;|&nbsp;</text>
                            <a href="@Url.Action("Deny", new { id = item.UserId })">Reject <i class="icon-sign-blank"></i></a>                        
                        }
                        else
                        {
                            <a href="@Url.Action("Edit", new { id = item.UserId })">Edit <i class="icon-edit"></i></a>
                            <text>&nbsp;|&nbsp;</text>
                            if (item.Locked)
                            {
                            <a href="@Url.Action("Unlock", new { id = item.UserId })">Unlock <i class="icon-unlock"></i></a>
                            }
                            else
                            {
                            <a href="@Url.Action("Lock", new { id = item.UserId })">Lock <i class="icon-lock"></i></a>                            
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
