@model StoreManager.ViewModels.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container">
    <div class="row">
        <h2 class="page-header">Change Password</h2>
    </div>

    <div id="row">
        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
            <div>
                <div class="form-group">
                    @Html.LabelFor(f => f.OldPassword)
                    <div >
                        @Html.PasswordFor(f => f.OldPassword)
                        @Html.ValidationMessageFor(f => f.OldPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(f => f.NewPassword)
                    <div >
                        @Html.PasswordFor(f => f.NewPassword)
                        @Html.ValidationMessageFor(f => f.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(f => f.ConfirmPassword)
                    <div >
                        @Html.PasswordFor(f => f.ConfirmPassword)
                        @Html.ValidationMessageFor(f => f.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
            </div>
        }
    </div>
</div>
