@using StoreManager.Models
@model StoreManager.Models.User

@{
    ViewBag.Title = string.Format("User Profile for {0} ({1}) ", Model.DisplayName, Model.UserName);
}

<div class="container">
    
    <div class="row">
        @ViewHelpers.PageHeader("User Profile")
    </div>

    <div class="col-md-10">
        <div class="panel">
            <div class="panel-header">
                <h3>@Model.DisplayName (@Model.UserName)</h3>
            </div>
            <div class="panel-content">

                <dl class="dl-horizontal">
                    <dt>UserName</dt>
                    <dd>@Model.UserName</dd>

                    <dt>Full Name</dt>
                    <dd>@Model.DisplayName</dd>

                    <dt>Role</dt>
                    <dd>@Model.Role</dd>

                    <dt>Account Locked?</dt>
                    <dd>@(Model.Locked ? "Yes" : "No")</dd>

                    <dt>Last Login Date</dt>
                    <dd>@Model.LastLogin.FormatDate()</dd>

                    <dt>Email Address</dt>
                    <dd>@(string.IsNullOrWhiteSpace(Model.Email) ? "(Not Specified)" : Model.Email)</dd>

                    <dt>Phone Number</dt>
                    <dd>@(string.IsNullOrWhiteSpace(Model.Phone) ? "(Not Specified)" : Model.Phone)</dd>

                </dl>

            </div>

        </div>

    </div>
</div>

@section Styles
{
    <style type="text/css">
        dd, dt {
            min-height: 35px;
            height: 35px;
        }

        dd {
            font-family: "Open Sans","Segoe UI Light", "Trebuchet MS", Arial, sans-serif;
            font-size: 30px;
            padding-bottom: 20px;
        }
    </style>
}
