@model DialogueStore.Models.Item

@{
    ViewBag.Title = "Create Stock Item";
}

<div class="container">

    <div class="row">
        <h2 class="page-header">Create New Stock Item</h2>
    </div>

    <div class="row">
        <ul class="nav nav-pills">
            <li><a href="@Url.Action("Index", "Items")">All Items</a></li>
            <li class="active"><a href="@Url.Action("Create", "Items")">Create New</a></li>
        </ul>
    </div>

    <p>&nbsp;</p>

    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="@Url.Action("Create")" >
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Item Information</p>
                    </div>

                    <div class="panel-body">
                        @Html.Partial("_CreateOrEdit")

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
