@model StoreManager.Models.Location

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Location</legend>

        <div class="form-group">
            @Html.LabelFor(f => f.Name)
        </div>
        <div >
            @Html.EditorFor(f => f.Name)
            @Html.ValidationMessageFor(f => f.Name)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
