@model StoreManager.Models.Location

@{
    ViewBag.Title = "Location Details";
}

<h2>Location Details</h2>

<fieldset>
    <legend>Location Details</legend>

    <div class="form-group">
        @Html.DisplayNameFor(f => f.Name)
        <div >
            @Html.DisplayFor(f => f.Name)
        </div>
    </div>
    
    <div class="form-group">
        @Html.DisplayNameFor(f => f.IsStore)
        <div >
            @Html.DisplayFor(f => f.IsStore)
        </div>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
