@model StoreManager.Models.Location

@{
    ViewBag.Title = "Edit Location";
}

<h2>Edit Location</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Location</legend>

        @Html.HiddenFor(f => f.Id)

        <div class="form-group">
            @Html.LabelFor(f => f.Name)
            <div >
                @Html.EditorFor(f => f.Name)
                @Html.ValidationMessageFor(f => f.Name)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(f => f.IsStore)
            <div >
                @Html.EditorFor(f => f.IsStore)
                @Html.ValidationMessageFor(f => f.IsStore)
            </div>
        </div>

        <div class="form-group">
            <div >
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
