@model IEnumerable<StoreManager.Models.Stock>

@{
    ViewBag.Title = "General Inventory";
}
@functions
{
    static string PaintRow(StoreManager.Models.Stock item) {
        if (item.IsParent) {
            return "success";
        }

        return item.IsExpired ? "warning" : string.Empty;
    }

    static int GetExpiredItemCount(IEnumerable<StoreManager.Models.Stock> items) {
        return items == null ? 0 : items.Count(z => z.IsExpired);
    }
}

@helper ShowExpiredItemsWarninig() {
    int expiredItemsCount = GetExpiredItemCount(Model);
    if (expiredItemsCount > 0) {
    <div class="row">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Warning!</strong> there are @expiredItemsCount stock items that have expired.
        </div>
    </div>
    }
}


<div class="container">

    <div class="row">
        <h2 class="page-header">General Inventory <small>List of all Items and their current locations</small></h2>
    </div>

    @if (GetExpiredItemCount(Model) > 0) {
        <div class="row">
            @ShowExpiredItemsWarninig()
        </div>

        <p>&nbsp;</p>
    }

    <div class="row">
        <h3>Summary Report</h3>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Re-order Level</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GroupBy(x => x.Item)) {
                    <tr>
                        <td></td>
                        <td>@item.Key.Name</td>
                        <td>@item.Key.ReorderLevel</td>
                        <td>@item.Key.QuantityinStock</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <h3>Detailed Report</h3>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Particulars</th>
                    <th>@Html.DisplayNameFor(model => model.RefNo)</th>
                    <th>@Html.DisplayNameFor(model => model.Location)</th>
                    <th>@Html.DisplayNameFor(model => model.StockConditionId)</th>
                    <th>@Html.DisplayNameFor(model => model.IsExpired)</th>
                    <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                    <th>@Html.DisplayNameFor(model => model.BatchPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
                    <th></th>
                </tr>
            </thead>
            @{ var itemIdx = 1; }
            @foreach (var item in Model) {
                <tr class="@PaintRow(item)">
                    <td>@itemIdx</td>
                    <td>@item.Item.Name</td>
                    <td>@Html.DisplayFor(modelItem => item.RefNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Location.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Condition.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExpiryDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.PurchaseDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.BatchPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Stock", new { id = item.Id }, null) | 
                        @Html.ActionLink("Details", "Details", "Stock", new { id = item.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Stock", new { id = item.Id }, null)
                    </td>
                </tr>
                itemIdx++;
            }

        </table>
    </div>
</div>
