@model IEnumerable<StoreManager.Models.Stock>

@{
    ViewBag.Title = "Out-of-Stock Items";
}

<div class="container">

    <div class="row">
        <h2 class="page-header">Out-of-Stock Items <small>Items that are non-existant in the Store</small></h2>
    </div>

    <div class="row">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.ItemId)</th>
                    <th>@Html.DisplayNameFor(model => model.RefNo)</th>
                    <th>@Html.DisplayNameFor(model => model.StockConditionId)</th>
                    <th>@Html.DisplayNameFor(model => model.IsExpired)</th>
                    <th>@Html.DisplayNameFor(model => model.ExpiryDate)</th>
                    <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                    <th>@Html.DisplayNameFor(model => model.DateAdded)</th>
                    <th>@Html.DisplayNameFor(model => model.LocationId)</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @{ var itemIdx = 1; }
                @if (Model == null || !Model.Any()) {
                    <tr>
                        <td colspan="10" class="text-info text-center">There are no records to show here.</td>
                    </tr>
                }
                else {
                    foreach (var item in Model) {
                    <tr>
                        <td>@itemIdx</td>
                        <td>@Html.DisplayFor(modelItem => item.Item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.RefNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.StockConditionId)</td>
                        <td>@Html.DisplayFor(modelItem => item.IsExpired)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpiryDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.PurchaseDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateAdded)</td>
                        <td>@Html.DisplayFor(modelItem => item.LocationId)</td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Stock", new { id = item.Id }, null)
                        </td>
                    </tr>
                        itemIdx++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
