@model IEnumerable<DialogueStore.Models.User>
@functions
{
    public static string ToYesNo(bool value) {
        return value ? "Yes" : "No";
    }
}
@functions
{
    public static string GetRowClass(DialogueStore.Models.User user) {
        return user.Locked ? "warning" : (!user.Approved ? "info" : string.Empty);
    }

}
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Full Name (UserName)</th>
            <th>Last Login</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr class="@GetRowClass(item)">
                <td>@item.DisplayName (@item.UserName)</td>
                <td>@HTML.FriendlyDate(item.LastLogin)</td>
                <td>
                    <div class="pull-right" style="margin-right: 10px">
                        @if (!item.Approved) {
                            <a href="@Url.Action("Approve", new { id = item.UserId })">Approve</a>
                            <text>&nbsp;|&nbsp;</text>
                            <a href="@Url.Action("Deny", new { id = item.UserId })">Reject</a>                        
                        }
                        else {
                            <a href="@Url.Action("Edit", new { id = item.UserId })">Edit</a>
                            <text>&nbsp;|&nbsp;</text>
                            if (item.Locked) {
                            <a href="@Url.Action("Unlock", new { id = item.UserId })">Unlock</a>
                            }
                            else {
                            <a href="@Url.Action("Lock", new { id = item.UserId })">Lock</a>                            
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
