@model DialogueStore.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log On";
}

<div class="row">
    <div class="container">
        <img id="logo" src="@Url.Content("~/Content/logo-small.png")" alt="logo"/>
    </div>
</div>

<div class="container">

    <form class="form-signin" action="@Url.Action("Login", "Account")" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div class="form-group">
            @Html.TextBoxFor(f => f.UserName, new { @class = "form-control", placeholder = "Username or Email address" })
            @Html.ValidationMessageFor(f => f.UserName)
        </div>
        <div class="form-group">
            @Html.PasswordFor(f => f.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(f => f.Password)
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(f => f.RememberMe)
                @Html.LabelFor(f => f.RememberMe)
            </label>
        </div>
        <p style="margin-top: 2em">
            <button type="submit" class="btn btn-default btn-primary btn-block">Sign in</button>
        </p>

        <div style="margin-top: 40px">
            @*@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")*@
            @Html.ValidationSummary(true)
        </div>
    </form>
</div>


