@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <h2 class="page-header">Dashboard</h2>
    </div>
    <div class="row">
        <ul class="nav nav-pills">
            <li class="active"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("StoreInventory", "Reports")">Store Inventory</a></li>
                    <li><a href="@Url.Action("GeneralInventory", "Reports")">General Inventory</a></li>
                    <li><a href="@Url.Action("OutOfStockItems", "Reports")">Out-of-Stock Items</a></li>
                    <li><a href="@Url.Action("RecentMovements", "Reports")">Recent Movements</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
